/* Ćwiczenie_3 */

body {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 kolumny o szerokości 100px */
    grid-template-rows: repeat(2, 100px);    /* 2 rzędy o wysokości 100px */
    gap: 20px; /* Odstępy między elementami */
    justify-content: center; /* Centrowanie siatki poziomo */
    align-content: center;   /* Centrowanie siatki pionowo */
    height: 100vh;
    margin: 0;
}

div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

/* Definiowanie pozycji pierwszego rzędu z 2 elementami */
#box1 {
    background-color: black;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#box2 {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* Definiowanie pozycji drugiego rzędu z 3 elementami */
#box3 {
    background-color: yellow;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#box4 {
    background-color: blue;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#box5 {
    background-color: green;
    grid-column: 2 / 3; /* Ustawiamy obrazek w środkowej kolumnie drugiego rzędu */
    grid-row: 2 / 3;
    display: flex;       /* Flexbox do centrowania obrazka */
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;    /* Dopasowanie rozmiaru obrazka do bloku */
    max-height: 100%;
    grid-column: 2 / 3; /* Ustawiamy obrazek w środkowej kolumnie drugiego rzędu */
    grid-row: 2 / 3;

    display: flex;       /* Flexbox do centrowania obrazka */
    justify-content: center;
    align-items: center
}